*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:'helvetica', helvetica;
}
body{
    background-color:#C7CEEA;
}
.text-intro{
    margin-left:145px;
    margin:205px;
    font-size:27px;
    color: #ff8000;
}

/* navigation bar */
nav{
    width: 100%;
    height: 78px;
    background-color: #ffb347;
    line-height: 74px;
    padding: 0px 81px;
}
nav .menu{
    float: right;
}
nav .menu p{
    font-size:38px;
    font-weight: bold;
    color: #85A1F2;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}
nav ul{
    float:left;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color:#85A1F2;
    font-size: 20px;
    text-transform: 0px 22px;
    padding:0px 20px;
}
nav ul li a:hover{
    color: #30303b;
}
nav ul .active{
    color:#85A1F2;
}

/* navigation bar end*/

/*hamburger*/
.check-btn{
    color:white;
    font-size: 22px;
    cursor: pointer;
    float: left;
    display:none;
}
#check{
    display:none;
}
/* hamburger end */
/* responsive */
@media screen and (max-width:840px){
    nav{
        padding:0px 20px;
    }
    .check-btn{
        display: block;
    }
    nav .menu p{
        font-size: 27px;
    }
    nav ul{
        width: 100%;
        height: 100vh;
        position:fixed;
        top:74px;
        left:-100%;
        text-align:center;
        transition: 1s linear;
        background-color: orange;
    }
    nav ul li{
        display: block;
        margin: 48px 0px;
        line-height: 29px;
    }
    #check:checked ~ ul{
        left:0;
    }
    h1{
    margin: 2em;
    }
.port-head{
    margin-top: -30px;
    background-color:none;
    color:black;
    width: 100%;
    height: 100%;
    }
.container{
    display:flex;
    flex-direction:row;
    }
.picture1{
    width:50%;
    background-color:gray;
    height: 400px;
    }
.picture2{
    width:50%;
    background-color:gray;
    height:400px;
    }

}
/* responsive end */
} 
/*--------------CONTACT-----------------*/
input[type=text], textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid ##52F954;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
/* submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
/* hover animation on submit*/
input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 4px;
  background-color:gray;
  padding: 18px;
}

.col-name {
  float: left;
  width: 25%;
  margin-top: 4px;
}

.col-cred {
  float: left;
  width: 75%;
  margin-top: 4px;
}

/* float gets cleared*/
.form-row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 800px) {
  .col-name, .col-cred, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }